@using WebApplication1.Models

@model  IEnumerable<PersonalInfoModel>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.birthdate)
    </th>
    <th></th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.birthdate)
      </td>
      <td>
        @Html.ActionLink("PersonalInfo", "Edit", new { id = item.Id }) |
        @Html.ActionLink("PersonalInfo", "Details", new { id = item.security_id }) |
        @Html.ActionLink("PersonalInfo", "Delete", new { id = item.security_id })
      </td>
    </tr>
  }
</table>
